/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f6f8f7;
  color: #333;
}

/* COMMON CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #2f855a;
  color: white;
  border-radius: 6px;
  font-weight: 500;
}

.btn:hover {
  background-color: #276749;
}
